.root{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    .container{
        max-width: 84rem;
        width: 100%;
        margin: 0 auto;
        padding: 2rem;
    }

    h1{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

     h2{
        font-size: 1.3rem;
        font-weight: normal;
        margin-bottom: 1rem;
    }
    

    .logo{
        width: 10rem;
        height: 6rem;
//    filter: drop-shadow(0 0 1px #440303) 
//          drop-shadow(0 0 1px #510303)
     }

    a{
        font-weight: bold;
        color: var(--web-text);

        &:hover {
     color: var(--dark-prim);
  }
    }

    footer{
        font-size: 0.8rem;
        background-color: rgb(0, 0, 0);

    a{
        color: rgba(255, 255, 255, 0.6);
        font-weight: normal;
    }

    img{
        width: 7rem;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      margin-top: 2rem;
      flex-wrap: wrap;
      padding: 0;
    }

    li {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
}
}