.root {
    background-color: var(--box-color);
    border-radius: 0.3rem;
    border: 1px solid var(--dark-prim);
    margin-bottom: 1rem;
    position: relative;
    color: var(--web-text);

    .top {
        display: flex;
        gap: 1rem;
        align-items: flex-start;
        font-size: 0.9rem;
        padding: 1rem;
        justify-content: space-between;  
        
        button{
            border: none;
        }

        .avatar {
            width: 4rem;
            min-width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: 2px solid var(--dark-prim);
        }

        .name {
            font-weight: bold;
        }

        .author {
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }

        .date {
            color: var(--web-text);
            font-size: 0.8rem;
        }

        button.toggle {
            background-color: transparent;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            display: grid;
            place-items: center;
            transition: 0.3s;

            &:hover,
            &.active {
                background-color: var(--web-text);
                svg {
                fill: var(--dark-prim)
            }
                
            }

            svg {
                width: 1rem;
                height: 1rem;
            }
        }
    }
    

    .menu {
        position: absolute;
        right: 1.2rem;
        top: 2.7rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: transparent;
        border-radius: 0.3rem;
        padding: 0.5rem;
        font-size: 0.8rem;
        gap: 1rem;

         svg
      {
        height: 1.5rem;
        width: 1.5rem;
        

        &:hover,
            &.active {
                background-color: var(--dark-prim);
                border: 1px solid var(--web-text);
            }

      }

        button {
            width: 100%;
            text-align: left;
        }

        button:not(:last-child) {
            padding-bottom: 0.3rem;
        }
    }

    .content {
        padding: 0 1rem 1rem;

        img {
        width: 100%;
        height: 100%;
        max-height: 30rem;  // or any height you want
        object-fit: cover;
        border-radius: 0.3rem;
        display: block;
    }
         
    }

    .stats {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .stat {
            padding: 0.3rem 1rem;
            font-size: 0.8rem;
            border: none;
        }
    }

    .comments{
        padding: 0 1rem 1rem;
        border-top: 1px solid var(--web-text);
    }

    .actions {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        padding: 1rem;
        border-top: 1px solid var(--dark-prim);

        button {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 0.9rem;
            border: none;

            svg {
                width: 2rem;
                height: 2rem;
                
            }

            &.active {
                svg{
                    fill: var(--nav-text);
                }
                
            }
        }
    }
}