.root{

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 1rem;
    margin-block: 1rem;


    &::after,
    &::before{
        content: "";
        height: 1px;
        margin: 1rem 0;
        width: 2rem;
        display: block;
        background-color: rgba(255,255,255,0.15);
    }
}