.root {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* lines expand equally */
  align-items: center;
  gap: 1rem;
  margin-block: 1rem;

  &::before,
  &::after {
    content: "";
    height: 1px;
    display: block;
    background-color: rgba(86, 180, 245, 0.25);
  }
}
