.root{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 9999px;
    margin-block: 1rem;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 0 5px #562525, 0 0 10px #121010, 0 0 15px #672020;
  }

    &:disabled{
        color: white;
        background-color: gray;
        cursor: not-allowed;
    }

    &:not(:disabled, .outline):hover{
        background-color: var(--primary-color-dark);
    }

    &:outline{
        background-color: black;
        color: var(--primary-color);
        border: 1px solid rgba(255, 255, 255, 0.6);
        padding: 0.5rem;
        color: white;
        font-weight: normal;

        &:not(:disabled):hover{
            border-color: white;
        }
    }
}
