.root {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 50%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 9999;

  .modal {
    background-color: #181b22d0;
    border-radius: 0.3rem;
    border: 1px solid var(--dark-prim);
    width: 100%;
    max-width: 45rem;
    margin: 4.5rem 1rem;
    padding: 1rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    button{
      border: none;
      color: var(--web-text);

      svg{
        height: 1rem;
        width: 1rem;
      }

       &:hover {
      color: var(--bg-color);
    }
    }
  }

  

  .preview {
    position: relative;

    img {
      width: 100%;
      max-height: 12rem;
    }

    button.cancel {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      z-index: 1;
      display: none;
    }

    &:hover button.cancel {
      display: grid;
    }
  }

  .error {
    color: red;
  }

  .title {
    font-weight: bold;
  }

  textarea {
    background-color: var(--web-text);
    width: 100%;
    height: 15rem;
    resize: none;
    border: 1.5px solid var(--dark-prim);
    padding: 1rem;
    margin-bottom: -1rem;
    border-radius: 0.3rem;
    color: black;
  }
}