.root {
    border: 1px solid var(--dark-prim); 
    background-color: var(--primary-color); 
    font-size: 0.9rem;
    position: sticky;
    top: 0;
    z-index: 100;
    color: var(--nav-text);
    // padding: 0.8rem;
    
    .container {
        max-width: 74rem;
        padding-inline: 1rem;
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto;
        position: relative;
        gap: 2rem;
    }

    img {
        width: 7rem;
        height: 5rem;
    }

    .left {
        display: grid;
        gap: 1rem;
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    .right {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--nav-text); // icons white
        
    }

    .toggle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul {
        position: absolute;
        top: 5rem;
        right: 1rem;
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
        border-radius: 0.3rem;
        padding: 1rem;
        width: min(18rem, 100%);
        display: grid;
        gap: 0.5rem;
    }

    a {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: var(--nav-text);

        &:hover {
            color: var(--hover-col); 
            
        }
    }

    .active {
        color: var(--active-col); /* active link highlight */
    }

    @media screen and (width >= 1080px) {
        .left {
            grid-template-columns: auto 0.7fr 0.3fr;
        }

        .right {
            gap: 2rem;
        }
        
        ul a {
            flex-direction: column;
            gap: 0;
        }

        ul {
            position: relative;
            display: flex;
            align-items: center;
            width: auto;
            gap: 2rem;
            background-color: var(--primary-color);
            border: none;
            top: 0;
            right: 0;
            padding: 0;
        }

        .toggle {
            display: none;
        }
    }
}
