.root {
  display: grid;
  font-size: 0.8rem;
  gap: 0.3rem;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid white;
  }

  .header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: flex-start;
  }

  button.author {
    display: grid;
    align-items: center;
    grid-template-columns: 4rem 1fr;
    gap: 1rem;
    text-align: left;
    margin-bottom: 0.5rem;
    border: none;

    > div {
      width: 100%;
    }
  }

  button.action {
    background-color: var(--web-text);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.3s;

    &:hover,
    &.active {
      background-color: var(--dark-prim);
    }

    svg {
      width: 0.8rem;
      height: 0.8rem;
    }
  }

  .actions {
    position: absolute;
    right: 0.5rem;
    top: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    color: var(--web-text);
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    gap: 1rem;

    button {
      height: 1rem;
      width: 100%;
      text-align: left;     
      color: var(--dark-prim);
      font-weight: 600;
      border-radius: 10%;
      border: none;

      svg
      {
        height: 1.5rem;
        width: 1.5rem;

        &:hover,
            &.active {
                background-color: var(--dark-prim);
                border: 1px solid var(--web-text);
            }
      }

    }

    button:not(:last-child) {     
      padding-bottom: 0.3rem;
    }
  }

  .name {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    border: 2px solid var(--dark-prim);
  }
}